@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

section > p {
  text-align: center;
}

input[type=text] {
  padding: 5px;
  border-radius: 0px;
  border: 1px solid green;
  font-size: 0.8em;
}

.bnt-tarefa {
  padding: 10px;
  background-color: greenyellow;
  border-radius: 20px;
  border: 0px;
  cursor: pointer;
  font-weight: bold;
}

.bnt-tarefa:hover {
  background-color: rgba(172, 255, 47, 0.74);
}
