@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(46, 194, 186);
  --primary-color-darker: rgb(21, 104, 121);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

.titulo-coluna {
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 0px;
  background-color: var(--primary-color-darker);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

ul {
  list-style: none;
  columns: 2;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  border: 1px solid var(--primary-color);
}

form input:focus {
  outline: 1px solid var(--primary-color-darker);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}
.cordiv {
  background-color: rgb(216, 83, 83);
  width: fit-content;
  padding: 10px 20px;
}

.corIMC {
  background-color: rgb(83, 216, 127);
  width: fit-content;
  padding: 10px 20px;
}